body{
	background: url(Images/background.jpg);
}
header h1 a{
	color: white;
	font-size: 2em;
	text-decoration: none;
}
.navbar-brand{
	background-color: none;
	text-align: center;
	padding: 10px;
	margin-bottom: 0px;
}
.navbar-brand img{
	width: 50px;
	height: auto;
	float: left;
	margin: 0px;
}
.navbar-nav {
	background-color: none !important;
	margin-top: 0px;
	padding-top: 3px;
	text-align: center
	display: inline;
}
div .nav-item{
	display: inline;
	
}
div .navbar-nav li a{
	color: white;
	font-size: 1.7em;
	padding: 0px 10px
}
.jumbotron {
	background: #6d9e83 !important;
	width: 3px 3px;
	height: auto;
	padding: 6rem 4rem !important;
}
.jumbotron p {
	font-size: 20px;
}
.display-4 {
	color: black !important;
	font-family: bold;
	padding-top: 6px;
}
.bg-site {
	background-size: cover;
}

/* breadcrumb style for movies, gallery & Contact Us*/
.breadcrumb {
	background: none;
	padding-top: 2em;
	padding-left: 2.2em !important;
}
.breadcrumb .go-home a {
	color: #D91A1A;
}
.breadcrumb .go-home a:hover {
	color: #000;
	text-decoration: none;
}

/* Contact Uscpage style */
.about-company {
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: justify;
	color: #fff;
	font-size: 1.3em;
}
/* form style for Form */
.form{
	color: #fff;
	background-color: #dae0e4;
	border: 1px solid grey !important;
	border-radius: 0.3em;
	padding: 2em;
	padding-bottom: 3em;
}

/* form style - ContactUs e*/
.contact-us {
	color: #fff;
	background-color: #dae0e4;
	border: 1px solid grey !important;
	border-radius: 0.3em;
	padding: 2em;
	padding-bottom: 3em;
}
 h1 {
	padding-bottom: 1em;
	color: #08224C !important;
}
.form-group {
	color: #08224C;
}
.form-group .form-text{
	color: red;
}
#contactus-pg .contact-us .btn {
	margin-left: 2em;
	background-color: #08224C;
}
.form-check-label {
	color: #08224C;
	padding-bottom: 0.5em;
}
.end-page {
	text-align: center;
     color: #fff
}

/* Movies page style */
.movie-gallery {
	padding-top: 1em;
	margin-bottom: 1em;
}
.film-section {
	text-align: right;
	font-weight: bold;
	color: white;
}
#movies-pg .movie-gallery .col-sm{
	padding-bottom: 2em !important;
}

#movies-pg .movie-gallery .col-sm .rent {
	margin-top: 0.5em;
}

#movies-pg .movie-gallery .col-sm .rent {
	background-color: darkgrey;
	color: #fff;
}

#movies-pg .movie-gallery .col-sm .rent:hover {
	background-color: #E94347;
	color: #fff;
}

.movie-gallery a .modal-img {
	width: 100%;
}

.movie-card {
	padding: 0.5em;
	background-color: #CADBE5;
}
.modal-content{
	background-color: rgba(100, 100, 100, 0.5);
}

.modal-content h5 {
	color: #DDEDC2;
}
.modal-body {
	display: inline;
	margin-bottom: -3em;
}
.modal-body img {
	width: 50%;
	font-size:5px;
}

.img-box{
  position:relative;
  display:inline-block;
}
.img-box .overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: darkgrey;
  opacity:0;
  transition:opacity 500ms ease-in-out;
}
.img-box:hover .overlay{
  opacity:1;
  cursor: pointer;
}
.overlay span{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:#fff;
}

.modal-body span {
	display: block;
	color: #DDEDC2;
	padding-left: 1em;
	position: relative;
	top: -20em !important;
	margin-left: 16em !important;
}
footer{
	text-align: center;
	background-color: #212529;
	margin: 10px 10px


}
footer div{
	color: white;
	text-align: center !important;
	padding-left: auto;
	margin: 15px 15px

}

/* Responsiveness using media query */
@media screen and (max-width: 320px) {
    .con h1 {
        font-size: 100%;
    }
}

@media screen and (max-width: 450px) {
    .col{
        flex: 100%;
        padding: 20px 30px;
        align-content: center;
    }
    .con h4{
        font-size:18px;
    }
    .display-4{
    	color: black !important;
		font-family: bold;
    	padding-top: 20px;
    }
    .jumbotron {
	background: #6d9e83 !important;
	width: 3px 3px;
	height: auto;
	padding: 6rem 4rem !important;
}
footer{
	text-align: center;
	background-color: #212529;
	margin: 10px 10px
}
footer div{
	color: white;
	text-align: center !important;
	padding-left: auto;
	margin: 15px 15px
	}
}